<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SDJ Class exercises/src/ClassExercises/Exercise_MyNameAndAge.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ClassExercises.Exercise_MyNameAndAge"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SDJ Class exercises"/>
</launchConfiguration>
