<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AJP-Exercises/src/HandIn1/Main2Exercise5.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="HandIn1.Main2Exercise5"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AJP-Exercises"/>
</launchConfiguration>
